@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#020617] text-slate-100 antialiased; /* Deep developer theme */
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
}